.one_third.content-column {
    text-align: center;
    position: relative;
    width: 100%;
    @include breakpoint(mobile) {
        width: 33.3%;
    }

    // p {
    //     margin: 0;
    // }
    img {
        width: 98%;
    }
}

.page-template-front-page .front-page .one_third.content-column {

    &:nth-of-type(odd) {
        h1,h2,h3,h4 {
            color: $white;
            position: absolute;
                left: 50%;
                top: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
        }
        &:after {
            background: black;
            content: '';
            display: block;
            height: 98%;
            width: 98%;
            margin: 0 auto;
            opacity: .7;
            position: absolute;
                left: 1%;
                top: 0em;
            text-align: center;
            z-index: 1;
        }
    }
    &:nth-of-type(even) {
        h1,h2,h3,h4 {
            color: $white;
            position: absolute;
                left: 50%;
                top: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
        }
        &:after {
            background: #e6f2ff;
            content: '';
            display: block;
            height: 98%;
            width: 98%;
            margin: 0 auto;
            opacity: .7;
            position: absolute;
                left: 1%;
                top: 0em;
            text-align: center;
            z-index: 1;
        }
    }
}
