.one_third.content-column {
    text-align: center;
    position: relative;
    width: 100%;
    @media screen and (min-width: 1050px) {
        width: 33.3%;
    }
    img {
        width: 98%;
    }
}

.front-page .one_third.content-column {

    &:nth-of-type(1) {
        &:after {
            background: black;
            content: '';
            display: block;
            height: 98%;
            width: 98%;
            margin: 0 auto;
            opacity: .7;
            position: absolute;
                left: 1%;
                top: 0em;
            text-align: center;
            z-index: 1;
        }
    }
    &:nth-of-type(2) {
        &:after {
            background: black;
            content: '';
            display: block;
            height: 98%;
            width: 98%;
            margin: 0 auto;
            opacity: .7;
            position: absolute;
                left: 1%;
                top: 0em;
            text-align: center;
            z-index: 1;
        }
    }
    &:nth-of-type(3) {
        &:after {
            background: black;
            content: '';
            display: block;
            height: 98%;
            width: 98%;
            margin: 0 auto;
            opacity: .7;
            position: absolute;
                left: 1%;
                top: 0em;
            text-align: center;
            z-index: 1;
        }
    }
}
