.one_third.content-column {
    text-align: center;
    position: relative;
    width: 100%;
    @include breakpoint(mobile) {
        width: 33.3%;
    }
    img {
        width: 98%;
    }
    height: auto;
    width: 100%;
    div.bg-image {
        background-position: center center !important;
        height: auto;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        min-height: 20em;
        width: 100% !important;
    }
    p {
        // Removes default margin
        margin: 0;
    }
}
.one_half.content-column {
    max-height: 20em;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    @include breakpoint(mobile) {
        width: 50%;
    }
    img {
        max-height: 20em;
        width: 98%;
    }
    div.bg-image {
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        max-height: 20em;
        width: 100% !important;
    }
    p {
        // Removes default margin
        margin: 0;
    }
}

.page-template-front-page .front-page .one_half.content-column {
    h1,
    h2,
    h3,
    h4 {
        color: $white;
        margin-top: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
    }
    &:after {
        background: $blackOverlay;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        opacity: 0.7;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
    }
    &:hover {
        &:after {
            opacity: .5;
            transition: opacity .5s;
        }
    }
}
