/*
* Variables Style Sheet
*/

// Color variables
$black: #000000;
$blackOverlay: $black;
$white: #ffffff;
$audubonRed: #720101;

// Breakpoints
$smallScreen: 800px;

// Container Sizes
$primaryWidth: 60rem;
