/******************************
* style.scss imports each of the style sheets
*****************************/
/*
* Variables Style Sheet
*/
/******************************************
Footer Styles
******************************************/
#foot {
  color: #ffffff;
  background: #333;
  height: 70px;
  margin-top: 30px;
  padding-top: 35px;
  text-align: center; }
  #foot a {
    text-align: center;
    color: #ffffff;
    float: none;
    padding-right: 0; }

.design-labels {
  text-align: center; }

/******************************************
General Styles
******************************************/
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

img {
  border-style: none;
  height: auto;
  max-height: 25rem;
  max-width: 100%; }

li {
  font-size: 1.3em;
  text-decoration: none;
  list-style: none;
  float: left;
  margin: 0 auto; }

ul {
  margin: 0 auto;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0; }

a {
  color: #ff6666;
  display: inline;
  padding-right: 10px;
  text-decoration: none; }
  a:hover {
    color: #ff0c0c; }

h2 {
  display: block;
  font-size: 1.5em; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5rem; }

/******************************************
Heading Styles
******************************************/
.blog-title a {
  color: #333333; }

.add-color {
  background: #ff6666; }

.menu-main-menu-container {
  margin: 0 auto; }

img.homepage_image {
  height: auto;
  width: 100%;
  max-height: calc(100vh - 90px); }

/******************************************
Header Styles
******************************************/
#top-header {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%; }
  #top-header img {
    max-height: 100px;
    max-width: 307px; }
  #top-header h1.site-title a {
    color: #ffffff;
    font-family: 'Neucha', cursive; }

hgroup {
  display: inline-block;
  padding-left: 1.5rem; }

.page-template-front-page #top-header {
  background: none;
  position: absolute; }

/******************************************
Navigation Styles
******************************************/
.main-navigation {
  padding-right: 1.5rem;
  display: none;
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 800px) {
    .main-navigation {
      display: inline-block; } }
  .main-navigation.open {
    background: #720101;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 2; }
    .main-navigation.open ul.menu {
      display: flex;
      flex-direction: column; }
      @media (min-width: 37.5em) {
        .main-navigation.open ul.menu {
          flex-direction: row; } }
      .main-navigation.open ul.menu > li {
        float: none;
        text-align: center;
        padding: 1.5em 0; }
  .main-navigation a {
    color: #ffffff;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0 10px; }
    .main-navigation a:hover {
      text-decoration: underline; }

.menu-item-has-children {
  position: relative;
  transition: all 1s ease; }
  .menu-item-has-children .sub-menu {
    background: #333;
    border: 2px solid #e6f2ff;
    color: #333333;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    flex-direction: row;
    list-style: none;
    margin-top: -2em;
    min-height: 5em;
    opacity: 0;
    position: fixed;
    line-height: 5em;
    right: 0;
    top: 7em;
    width: 100%;
    z-index: 99; }
    @media screen and (min-width: 750px) {
      .menu-item-has-children .sub-menu {
        width: 50%; } }
    @media screen and (min-width: 1050px) {
      .menu-item-has-children .sub-menu {
        width: 33.33%; } }
    .menu-item-has-children .sub-menu a {
      color: #fff; }
    .menu-item-has-children .sub-menu li {
      font-size: 1rem; }

@media screen and (min-width: 800px) {
  .menu-item-has-children:hover {
    padding-bottom: 0; } }
.menu-item-has-children:hover .sub-menu {
  transition: all 3s ease;
  justify-content: center;
  margin-top: 4em;
  max-height: 25em;
  min-height: 5em;
  opacity: 1;
  z-index: -1; }

.hamburger-icon-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.hamburger-icon {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 1em;
  right: 1.5em;
  z-index: 2; }
  @media screen and (min-width: 800px) {
    .hamburger-icon {
      display: none; } }
  .hamburger-icon:hover span.hamburger-bar {
    background: #d9d9d9;
    transition: all .5s; }
  .hamburger-icon.open {
    position: fixed; }

span.hamburger-bar {
  background: #ffffff;
  display: block;
  height: 4px;
  width: 2em;
  margin: .5em auto;
  transition: all .5s; }
  span.hamburger-bar.open {
    transform: rotate(90deg);
    transition: all .5s; }
    span.hamburger-bar.open:first-of-type {
      width: 1.5em; }
  span.hamburger-bar.crossbar {
    transform: rotate(0deg);
    transition: all .5s;
    transform: translate(0%, 0%); }
  span.hamburger-bar.crossbar.open {
    transition: all .5s;
    transform: translate(0%, -60%); }

/******************************************
Design Options Blocks
******************************************/
#blocks {
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  #blocks div {
    /* Affects positioning of template blocks */
    flex-direction: row;
    justify-content: space-around;
    margin: 1em auto 0;
    max-width: 426px;
    position: relative; }
    @media screen and (min-width: 750px) {
      #blocks div {
        max-width: 50%; } }
    @media screen and (min-width: 1050px) {
      #blocks div {
        max-width: 33.33%; } }
    #blocks div img {
      height: 16em; }
  #blocks div div {
    /* Affects positioning of hidden overlays */
    margin: -17.25em auto 0;
    max-width: 426px;
    position: relative; }
    @media screen and (min-width: 750px) {
      #blocks div div {
        max-width: 100%; } }

#template-block,
#wordpress-block,
#custom-work-block {
  width: 100%; }

/******************************************
Hidden Design Block Styles
******************************************/
#wordpress-hidden,
#scratch-hidden,
#template-hidden {
  color: white;
  font-size: 1.1em;
  margin: 0 auto;
  padding-top: 2em;
  text-align: center;
  width: 320px; }

.design-info-maintain,
.design-info-word,
.design-info-scratch {
  height: 16em;
  background: #668cff;
  position: absolute;
  font-family: 'Crimson Text', serif;
  opacity: 0.9; }

#hidden-scratch-photo-center {
  width: 36%;
  display: inline;
  margin-right: 0;
  margin-left: 360px;
  margin-top: 3px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 0; }

/* Info Buttons Hide/Show */
.hide-info-button-scratch,
.hide-info-button-template,
.hide-info-button-word {
  bottom: 1em;
  color: white;
  right: 5em;
  padding: 11px 16px;
  border: 2px solid #fff;
  border-radius: 5px;
  position: absolute; }
  .hide-info-button-scratch:hover,
  .hide-info-button-template:hover,
  .hide-info-button-word:hover {
    color: #333;
    background: #e6f2ff;
    padding: 11px 16px;
    border: 2px solid #e6f2ff; }

.more-info-button-template,
.more-info-button-scratch,
.more-info-button-word {
  bottom: 1em;
  color: white;
  left: 5em;
  padding: 11px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  position: absolute; }
  .more-info-button-template:hover,
  .more-info-button-scratch:hover,
  .more-info-button-word:hover {
    color: #333;
    background: #e6f2ff;
    padding: 11px 10px;
    border: 2px solid #e6f2ff; }

.one_third.content-column {
  text-align: center;
  position: relative;
  width: 100%; }
  @media (min-width: 37.5em) {
    .one_third.content-column {
      width: 33.3%; } }
  .one_third.content-column img {
    width: 98%; }

.page-template-front-page .front-page .one_third.content-column:nth-of-type(odd) h1, .page-template-front-page .front-page .one_third.content-column:nth-of-type(odd) h2, .page-template-front-page .front-page .one_third.content-column:nth-of-type(odd) h3, .page-template-front-page .front-page .one_third.content-column:nth-of-type(odd) h4 {
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; }
.page-template-front-page .front-page .one_third.content-column:nth-of-type(odd):after {
  background: black;
  content: '';
  display: block;
  height: 98%;
  width: 98%;
  margin: 0 auto;
  opacity: .7;
  position: absolute;
  left: 1%;
  top: 0em;
  text-align: center;
  z-index: 1; }
.page-template-front-page .front-page .one_third.content-column:nth-of-type(even) h1, .page-template-front-page .front-page .one_third.content-column:nth-of-type(even) h2, .page-template-front-page .front-page .one_third.content-column:nth-of-type(even) h3, .page-template-front-page .front-page .one_third.content-column:nth-of-type(even) h4 {
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; }
.page-template-front-page .front-page .one_third.content-column:nth-of-type(even):after {
  background: #e6f2ff;
  content: '';
  display: block;
  height: 98%;
  width: 98%;
  margin: 0 auto;
  opacity: .7;
  position: absolute;
  left: 1%;
  top: 0em;
  text-align: center;
  z-index: 1; }

.full_width.content-column {
  background: #D9D9D9;
  padding: 4em 0em;
  text-align: center; }
  .full_width.content-column p {
    font-weight: 300;
    line-height: 1.5em;
    font-size: 1.5em; }
  .full_width.content-column strong p {
    color: #91181B; }

.page-template-front-page .header-image .wp-post-image {
  max-height: none;
  height: 90vh; }
.page-template-front-page .header-image:after {
  content: url(/audubon-church/wp-content/themes/audubon-church/assets/icons/achurchreborn.svg);
  height: auto;
  width: 24em;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%); }
  @media (min-width: 37.5em) {
    .page-template-front-page .header-image:after {
      width: 40em; } }
  @media (min-width: 70em) {
    .page-template-front-page .header-image:after {
      width: 40em; } }

.page-template-fullwidth .full-width-page__container {
  margin: 0 auto;
  max-width: 60em;
  padding: 0rem 1rem; }

/*# sourceMappingURL=style.css.map */
