.blog,
.single-post {
    .page-title {
        margin-bottom: 0em;
        padding-bottom: 0em;
    }
    .page-wrapper {
        margin: 0 auto;
        max-width: $primaryWidth;
        padding: 1rem;
        .post {
            a.read-more {
                display: block;
                text-decoration: underline;
            }
        }
    }
}
//
// .post-navigation {
//     .newer {
//         border-top: 1px solid rgb(148,1,1);
//         border-right: 1px solid rgb(148,1,1);
//         display: inline-block;
//         height: 1em;
//         width: 1em;
//     }
//     .older {
//         border-top: 1px solid rgb(148,1,1);
//         border-right: 1px solid rgb(148,1,1);
//         display: inline-block;
//         height: 1em;
//         width: 1em;
//     }
// }
