/******************************************
Footer Styles
******************************************/
.foot {
    background: $audubonRedDark;
    color: $white;
    font-family: 'delius';
    text-align: center;
    div.foot-content {
        padding: 1em;
        a {
            color: $white;
            padding-right: 0;
            text-align: center;
        }
    }
}

.design-labels {
  text-align: center;
}
