/******************************************
General Styles
******************************************/
body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}
img {
  border-style: none;
  height: auto;
  max-height: 25rem;
  max-width: 100%;
}
li {
  font-size: 1.3em;
  text-decoration: none;
  list-style: none;
  float: left;
  margin: 0 auto;
}
ul {
  margin: 0 auto;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
}
a {
  color: rgb(255, 102, 102);
  display: inline;
  padding-right: 10px;
  text-decoration: none;
  &:hover {
    color: rgb(255, 12, 12);
  }
}

h2 {
  display: block;
  font-size: 1.5em;
}
/******************************************
Heading Styles
******************************************/

.blog-title a {
  color: #333333;
}

.add-color {
  background: rgba(255, 102, 102, 1);
}
.menu-main-menu-container {
  margin: 0 auto;
}


img.homepage_image {
    height: auto;
    // max-height: 25rem;
    width: 100%;
    // @media screen and (min-width: 1050px) {
        max-height: calc(100vh - 90px);
    // }
}

/******************************************
Page Tempalte Styles
******************************************/
.page,
.blog-page,
.front-page,
.full-width-page {
  // font-size: 0;
  margin: 0 auto;
  min-height: 100%;
  // margin-bottom: -142px;
  text-align: left;
  // width: 100%;
}
.page {
  // width: 90vw;
}
.blog-page {
  margin-top: 10rem;
  .container__inner {
    margin: 0 auto;
    width: 90vw;
  }
}
.front-page {}
.full-width-page {
  width: 90vw;
}
/******************************************
About Styles
******************************************/
.about {
    background: #333;
    color: #fff;
    display: none;
    height: auto;
    margin: 0 auto;
    padding: 5em 0;
    position: fixed;
        top: 25%;
    text-align: center;
    width: 100%;
    img {
        padding-bottom: 3em;

        @include breakpoint(mobile) {
            padding-bottom: 0;
        }
    }
    .svg {
        cursor: pointer;
        position: absolute;
            right: 2rem;
            top: 2rem;
        width: 2rem;
    }
  p {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      height: 30%;
      margin: auto;
  }
}

.shadow-box {
    transition: all 2.8s ease;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 750px) {
        flex-direction: row;

    }
    @media screen and (min-width: 1050px) {
    }
}


#tyler-about-pic {
  border-radius: 100px;
  height: 100%;
  margin: 0 auto;
  width: 350px;
}
.about-paragraph {
  display: inline;
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 50px auto 0;
  max-width: 500px;
  text-align: center;
  @media screen and (min-width: 750px) {
      margin-top: 5em;
      text-align: left;
  }
  @media screen and (min-width: 850px) {
      margin-top: 3em;
      max-width: 40%;
      text-align: left;
  }
}

/******************************************
Contact Styles
******************************************/
.contact {
    background: #333;
    color: #fff;
    display: none;
    height: auto;
    margin: 0 auto;
    padding: 5em 0;
    position: fixed;
        top: 25%;
    text-align: center;
    width: 100%;
    .svg {
        cursor: pointer;
        position: absolute;
            right: 2rem;
            top: 2rem;
        width: 2rem;
    }
}

.shadow-box {
    transition: all 2.8s ease;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 750px) {
        // flex-direction: row;

    }
    @media screen and (min-width: 1050px) {
    }
}

.contact-paragraph {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding-bottom: 25px;
    font-size: 1.1em;
    line-height: 1.2em;
    max-width: 45rem;

  a {
      background: #333;
      box-shadow: 3px 0 2px 1px rgba($black, 0.5);
      display: block;
      padding: 1em;
      margin: 0 auto;
      width: 10em;
      &:hover {
          background: rgb(255, 102, 102);
          box-shadow: 1px 1px 1px 1px rgba($black, 0.2);
          color: #333;
      }
  }
}
.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 75vw;
    max-width: 50rem;
}

/******************************************
Design Option Page Styles
******************************************/
.design-paragraph-headers {
  font-size: 1.3em;
  margin: 2em auto 0;
  text-align: center;
  width: 90%;
}
.design-paragraphs {
  line-height: 1.5em;
  margin: 0.5em auto 0;
  text-align: justify;
  text-indent: 25px;
  width: 90%;
}
/******************************************
Blog Styles
******************************************/
.blog-post {
  margin: 0 auto 2em;
  width: 95%;
}
