/******************************************
Header Styles
******************************************/

#top-header {
        // background: rgba(0,0,0,.7);
        background: $audubonRed;
        display: flex;
        align-items: center;
        justify-content: space-between;
    padding: 0rem 1.5rem;
    position: relative;
    width: 100%;
    z-index: 2000;
    @include breakpoint(mobile) {
        flex-direction: column;
        padding: 0rem;
        padding-bottom: 1.45rem;
    }

    @include breakpoint(mediumScreen) {
        flex-direction: row;
        padding-bottom: 0rem;
    }

  img {
    max-height: 100px;
    max-width: 307px;
  }
  h1.site-title,
  h1.site-title--est,
  h1.site-title--reborn {
      a {
          color: $white;
          font-family: 'Delius';
          font-size: .75em;
      }
  }
}

hgroup {
    display: inline-block;
    @include breakpoint(mediumScreen) {
        padding-left: 1.5rem;
    }
}

.page-template-front-page {
    #top-header {
        background: none;
        position: absolute;
        z-index: 2;
    }
}


@-webkit-keyframes fadeInAndOut {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInAndOut {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeInAndOut2 {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeInAndOut2 {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.site-title--est {
    position: relative;
    -webkit-animation: fadeInAndOut 8s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation: fadeInAndOut 8s;
    animation-iteration-count: infinite;
    a {
        color: $white;
    }
}

.site-title--reborn {
    -webkit-animation: fadeInAndOut2 8s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation: fadeInAndOut2 8s;
    animation-iteration-count: infinite;
    position: absolute;
        top: 0;
    a {
        color: $white;
    }
}
