/******************************************
Header Styles
******************************************/

#top-header {
        background: rgba(0,0,0,.7);
        display: flex;
        align-items: center;
        justify-content: space-between;
    padding: 0em 1.5rem;
    position: relative;
    width: 100%;
    z-index: 2000;

  img {
    max-height: 100px;
    max-width: 307px;
  }
  h1.site-title {
      a {
          color: $white;
          font-family: 'Delius';
          font-size: .75em;
      }
  }
}

hgroup {
    display: inline-block;
}

.page-template-front-page {
    #top-header {
        background: none;
        position: absolute;
        z-index: 2;
    }
}
