/******************************************
Navigation Styles
******************************************/

nav.main-navigation {
    display: none;
    position: relative;
    z-index: 1;
    @include breakpoint(mobile) {
        display: inline-block;
    }
    @include breakpoint(mediumScreen) {
        display: inline-block;
        padding-right: 1.5rem;
    }

    ul.menu {
        margin-left: 0rem;
        li {
            list-style: none;
            padding-left: 0rem;
            a {
                color: $white;
                font-family: 'Delius';
                margin: 0 auto;
                padding: 0 .5em;
                @include breakpoint(mediumScreen) {
                    padding: 0 .75em;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
            &:last-of-type {
                a {
                    @include breakpoint(mediumScreen) {
                        padding-right: 0rem;
                    }
                }
            }
        }

        & > li {
            // Top Level menu items
            font-size: 1.2em;
        }

        li.menu-item-has-children {
            // Menu item that has children
            position: relative;
            transition: all 1s ease;
            ul.sub-menu {
                // This sets the sub-menu's styles. Note: on mobile, the sub menu is automatically visible
                color: #333333;
                justify-content: center;
                font-size: 1rem;
                flex-direction: row;
                list-style: none;
                margin-left: 0rem;
                min-height: 1em;
                line-height: 1em;
                transition: all .5s ease;
                z-index: 99;
                @include breakpoint(mobile) {
                    // This hides the sub-menu to enable the hide/show reveal on hover
                    margin: 0em .75em;
                    display: none;
                    padding: 1em;
                    position: fixed;
                }

                a {
                    color: $white;
                    padding: 0 .5em;
                    @include breakpoint(mediumScreen) {
                        padding: 0 .75em;
                    }
                }

                li {
                    float: none;
                    font-size: 1rem;
                    line-height: 2rem;
                    padding: 0rem;
                }
            }

            &:hover {
                // Hovering over a menu item with children
                a {
                    @include breakpoint(mobile) {
                        padding-bottom: 3em;
                    }
                }
                .sub-menu {
                    transition: all .5s ease;
                    justify-content: center;
                    max-height: 25em;
                    @include breakpoint(mobile) {
                        background: $audubonRedLight;
                        display: inline-block;
                        margin-top: 1.45rem;
                    }
                    @include breakpoint(mediumScreen) {
                        margin-top: 1.25rem;
                    }
                }
            }
        }
    }

    &.open {
        // Open class that applies to the mobile menu
        // Note: this class is attached to nav.main-navigation
        background: $audubonRed;
        display: flex;
            align-items: center;
            justify-content: center;
        height: 100vh;
        width: 100vw;
        opacity: 1;
        position: fixed;
            left: 0;
            top: 0;
        text-align: center;
        z-index: 2;
        ul.menu {
            display: flex;
                flex-direction: column;
                @include breakpoint(mobile) {
                    flex-direction: row;
                }
            & > li {
                // Top Level menu items
                float: none;
                list-style: none;
                text-align: center;
                padding: 1.5em 0;
            }
        }
    }
}

.hamburger-icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: .75em;
    right: 1.5em;
    z-index: 2000;
    @include breakpoint(mobile) {
        display: none;
    }
    &:hover {
        span.hamburger-bar {
            background: darken($white, 15%);
            transition: all .5s;
        }
    }
    &.open {
        position: fixed;
    }

    span.hamburger-bar {
        background: $white;
        display: block;
        height: 4px;
        width: 2em;
        margin: .5em auto;
        transition: all .5s;

        &.open {
            transform: rotate(90deg);
            transition: all .5s;
            &:first-of-type {
                width: 1.5em;
            }
        }
        &.crossbar {
            transform: rotate(0deg);
            transition: all .5s;
            transform: translate(0%,0%);
        }
        &.crossbar.open {
            transition: all .5s;
            transform: translate(0%,-60%);
        }
    }
}
