/******************************************
Navigation Styles
******************************************/

.main-navigation {
    padding-right: 1.5rem;
    display: none;
    position: relative;
    z-index: 1;

  @include breakpoint(mobile) {
      display: inline-block;
  }
  &.open {
    background: #720101;
    display: flex;
        align-items: center;
        justify-content: center;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    position: fixed;
        left: 0;
        top: 0;
    text-align: center;
    z-index: 2;
     ul.menu {
            display: flex;
                flex-direction: column;
            @include breakpoint(mobile) {
                flex-direction: row;
            }
            & > li {
                float: none;
                text-align: center;
                padding: 1.5em 0;
            }
        }
  }
  a {
    color: $white;
    font-family: 'Delius';
    margin: 0 auto;
    padding: 0 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.menu-item-has-children {
  position: relative;
  transition: all 1s ease;
  .sub-menu {
      color: #333333;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      flex-direction: row;
      list-style: none;
      margin-top: -2em;
      min-height: 5em;
      opacity: 0;
      position: fixed;
      line-height: 5em;
      transition: all .5s ease;
      z-index: 99;

    a {
      color: #fff;
    }
    li {
        font-size: 1rem;
    }
  }
}
.menu-item-has-children:hover {

    @media screen and (min-width: 800px) {
      padding-bottom: 0;
  }
    .sub-menu {
      transition: all .5s ease;
      justify-content: center;
      margin-top: 0em;
      max-height: 25em;
      min-height: 5em;
      opacity: 1;
      z-index: -1;
    }
  }

.hamburger-icon-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hamburger-icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 1em;
    right: 1.5em;
    z-index: 2;
    @include breakpoint(mobile) {
        display: none;
    }
    &:hover {
        span.hamburger-bar {
            background: darken($white, 15%);
            transition: all .5s;
        }
    }
    &.open {
        position: fixed;
    }
}

span.hamburger-bar {
    background: $white;
    display: block;
    height: 4px;
    width: 2em;
    margin: .5em auto;
    transition: all .5s;

    &.open {
        transform: rotate(90deg);
        transition: all .5s;
        &:first-of-type {
            width: 1.5em;
        }
    }
    &.crossbar {
        transform: rotate(0deg);
        transition: all .5s;
        transform: translate(0%,0%);
    }
    &.crossbar.open {
        transition: all .5s;
        transform: translate(0%,-60%);
    }

}
