/******************************************
Navigation Styles
******************************************/

.main-navigation {

  display: none;
position: relative;

  @media screen and (min-width: 800px) {
      display: inline-block;
    // width: 50%;
  }
  @include breakpoint(desktop) {
    //   width: 33.3%;
  }
  &.open {
      display: flex;
      height: 100vh;
      position: absolute;
      width: 100vw;
      left: 0;
      text-align: center;
      align-items: center;
      justify-content: center;
      top: 0;
      background: #720101;
      opacity: .95;
    .menu {
        & > ul {
            & > li {
                float: none;
                text-align: center;
                padding: 4em 0;
            }
        }
    }
  }
  a {
    color: $white;
    margin: 0 auto;
    padding: 0 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.menu-item-has-children {
  position: relative;
  transition: all 1s ease;
  .sub-menu {
      background: #333;
      border: 2px solid #e6f2ff;
      color: #333333;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      flex-direction: row;
      list-style: none;
      margin-top: -2em;
      min-height: 5em;
      opacity: 0;
      position: fixed;
      line-height: 5em;
      right: 0;
      top: 7em;
      width: 100%;
      z-index: 99;
      @media screen and (min-width: 750px) {
        width: 50%;
      }
      @media screen and (min-width: 1050px) {
        width:33.33%;
      }
    a {
      color: #fff;
    }
    li {
        font-size: 1rem;
    }
  }
}
.menu-item-has-children:hover {

    @media screen and (min-width: 800px) {
      padding-bottom: 0;
    }
    .sub-menu {
      transition: all 3s ease;
      justify-content: center;
      margin-top: 4em;
      max-height: 25em;
      min-height: 5em;
      opacity: 1;
      z-index: -1;
    }
  }

.hamburger-icon-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hamburger-icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 1em;
    right: 1.5em;
    @media screen and (min-width: 800px) {
        display: none;
    }
}

span.hamburger-bar {
    background: #720101;
    display: block;
    height: 4px;
    width: 2em;
    margin: .5em auto;
    transition: all .5s;

    &.open {
        background: $white;
        transform: rotate(90deg);
        transition: all .5s;
        &:first-of-type {
            width: 1.5em;
        }
    }
    &.crossbar {
        transform: rotate(0deg);
        transition: all .5s;
        transform: translate(0%,0%);
    }
    &.crossbar.open {
        transition: all .5s;
        transform: translate(0%,-60%);
    }

}
